CustomRP/Library
CustomRP/Temp
CustomRP/Logs
CustomRP/obj/Debug
CustomRP/UserSettings/Layouts
CustomRP/CustomRP.sln
CustomRP/UserSettings/EditorUserSettings.asset
CustomRP/Assembly-CSharp.csproj
CustomRP/.idea
